@model VillaBNB.Models.VillaViewModel
    
    @{
        ViewData["Title"] = "Home Page";
    }

<form method="post" class="col-md-6 offset-md-3"
      enctype="multipart/form-data">
    <h1>@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    @*<div class="form-group">
        <label asp-for="CategoryId"></label>
        <textarea asp-for="CategoryId" class="form-control" rows="5"></textarea>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryId"></label>
        <input asp-for="CountryId" class="form-control" />
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CityId"></label>
        <input asp-for="CityId" class="form-control" />
        <span asp-validation-for="CityId" class="text-danger"></span>*@
    <!--</div>-->
    <div class="form-group">
        <label asp-for="Capacity"></label>
        <input asp-for="Capacity" class="form-control" />
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bedrooms"></label>
        <input asp-for="Bedrooms" class="form-control" />
        <span asp-validation-for="Bedrooms" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>
