@model List<VillaListingModel>





@for (int i = 0; i < Model.Count; i++)
{
    var villa = Model[i];

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src=@villa.Photo alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@villa.Name</h5>
        <p class="card-text">@villa.Category</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Details</a>
        <a class="btn btn-primary" asp-controller="Villa" asp-action="Edit" asp-route-id="@villa.Id">Edit</a>
    </div>
</div>


}