@model VillaBNB.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We have :</p>
    <ul>
        <li>Villas : @Model.VillasCount</li>
    </ul>

    <ul>
        <li>Cities : @Model.CitiesCount</li>
    </ul>

    <ul>
        <li>Countries : @Model.CountriesCount</li>
    </ul>

    <ul>
        <li>Categories : @Model.CategoriesCount</li>
    </ul>
</div>
