@model List<VillaBNB.Data.Models.Booking>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Price</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
        <tr>
            <td>@Model[i].Id</td>
            <td>@Model[i].TotalPrice</td>
            <td>@Model[i].StartDate.ToShortDateString()</td>
            <td>@Model[i].EndDate.ToShortDateString()</td>
        </tr>
        }

    </tbody>
</table>
